/* Mobile Optimization */


/* apply css attributes if screen is under 1000px */
@media only screen and (max-width: 1000px) {
  .random {
      display: none;
  }
}

/* apply css attributes if screen is under 500px (most likely a phone) */
@media only screen and (max-width: 500px) {
  .menubar {
    height: 70px;
  }
  .menubar .startbtn {
    height: 45px;
    width: 90px;
    bottom: 10px;
    left: 14px;

    font-size: 20px;
    background-size: 37px 40px;
  }
  .menubar .calendar {
    width: 100px;
    height: 45px;
    bottom: 10px;
    right: 14px;

    font-size: 22px;
    background-size: 32px 32px;
    background-position: left 2px top 6px;
    padding-top: 8.5px;
  }
  .startmenu {
    bottom: 64px;
  }

  .desktop .recycle-bin-ico {
    background-size: 100px 100px;
    width: 130px;
    height: 100px;
    }
    .desktop .recycle-bin-ico .txt {
      width: 135px;
      top: 82px;
      font-size: 25px;
  }

  .desktop .about-me-ico {
    background-size: 100px 100px;
    width: 130px;
    height: 100px;
    top: 165px;
    }
    .desktop .about-me-ico .txt {
      width: 135px;
      top: 82px;
      font-size: 25px;
  }

  .desktop .socials-ico {
    background-size: 100px 100px;
    width: 130px;
    height: 100px;
    top: 330px;
    }
    .desktop .socials-ico .txt {
      width: 135px;
      top: 82px;
      font-size: 25px;
  }
}