@font-face {
  font-family: 'win95';
  src: url('../FONTS/w95fa.woff2') format('woff2'),
       url('../FONTS/w95fa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #018281;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.resizehandle {
  position: absolute;
  z-index: 994;
  bottom: 0;
  right: 0;
  width: 17px;
  height: 17px;

  background-image: url("../IMG/corner.png");
  background-repeat: no-repeat;
  background-size: 17px 17px;

  cursor: nwse-resize;
}

[contenteditable="true"]:focus {
  outline: none;
}