
/* [image] class */
.image {
    position: relative;
    text-align: center;  /* center image vertical */
    top: 20vh;           /* change image hight */
}

/* [name] class */
.name {
    position: relative;
    text-align: center;
    top: 20vh;
    color: white;  
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

/* [link] class */
.link {
    position: relative;
    z-index: 4;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

/* [introduction-title] class */
.introduction-title {
    position: relative;
    text-align: center;
    top: 1vh;
    color: white;  
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
}

/* [introduction] class */
.introduction {
    position: relative;
    text-align: center;
    top: 1vh;
    color: white;  
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
}

/* [Copyright-notice] class */
.copyright-notice {
    position: absolute;
    bottom: 0;
    left: 0;
    color: gray; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

/* [link] class */
a:link {
    color: lightgrey;
    background-color: transparent;
    text-decoration: none;
}


/* [image hover] classes */
.Github-link:hover img {
    transform: scale(1.2);
    position: relative;
    z-index: 4;
}
.Twitter-link:hover img {
    transform: scale(1.2);
    position: relative;
    z-index: 4;
}
.Mail-link:hover img {
    transform: scale(1.2);
    position: relative;
    z-index: 4;
}



iframe {
    position: sticky;
    left: -7px;
    top: 35.5vh;
}

script {
    align-items: center;
}

html,
body {
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #161616;
}